main {
  .container {
    .library-container {
      display: flex;
      margin-top: 3rem;
      flex-wrap: wrap;
      @media (max-width: 1050px) {
        justify-content: center;
      }
      .book-item {
        position: relative;
        width: 300px;
        height: 200px;
        background: white;
        color: var(--dark-color);
        box-shadow: 2px 1px 10px 4px rgba(128, 128, 128, 0.267);
        padding: 1rem;
        border-radius: 5px;
        margin: 0 2rem 2rem 0;
        overflow: hidden;

        @media (max-width: 720px) {
          margin: 0 1rem 2rem;
        }

        .toggle-read {
          transition: opacity 0.2s ease-in-out;
          opacity: 0;
          padding: 1.5rem 0.2rem 0 0.2rem;
          color: #6b7280;
        }
        &:hover {
          .toggle-read {
            opacity: 1 !important;
          }
        }
        &.read {
          filter: brightness(0.7);
        }
        h2 {
          font-size: 1.4rem;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        p {
          color: #6b7280;
          padding: 0.2rem;
        }
        button {
          position: absolute;
          top: 0;
          right: 0;
          background: rgb(218, 18, 18);
          color: white;
          font-weight: 500;
          border-radius: 0 0px 0 5px;
          height: 20px;
          width: 20px;
          outline: none;
          border: none;
          cursor: pointer;
          transition: 0.2s ease-in-out;
          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }
  }
}
