nav {
  background: var(--bg-color);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 500;
      font-size: 2rem;
      color: rgb(29, 29, 29);
    }
    .add {
      position: relative;

      button {
        color: var(--main-color);
        background: none;
        outline: none;
        cursor: pointer;
        border: none;
        font-size: 1.2rem;
        transition: 0.2s ease-in-out;
        &:hover {
          filter: brightness(1.1);
        }
      }
    }
  }
}
